{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h1 align="center"> Solar System </h1>
    <ul>
        <li>Azymut: {{ azimuth }}</li>
        <li>Wysokość słońca: {{ altitude }}</li>
      </ul>
    <br />
    <center><div style="height: 50vh; width: 50%;">
        <canvas id="myChart"></canvas>
    </div></center>
 
    <script> 
        const labels = {{ labels | tojson}};
 
        const data = {
            labels: labels,
            datasets: [{
                label: 'Power[W]',
                backgroundColor: 'rgb(20, 99, 132)',
                borderColor: 'rgb(20, 99, 132)',
                data: {{ data | tojson}},
            }]
        };
 
        const config = {
            type: 'line',
            data: data,
            options: { maintainAspectRatio: false }
        };
 
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
 
    </script>
{% endblock %}

