{% extends "base.html" %}
{% block title %}Pomiary{% endblock %}

{% block content %}
  <h1 align="center">Pomiary</h1>
  
  {% for date in dates %}
    <h2 class="text-center">{{ date.strftime('%d.%m.%Y') }}</h2>
    <center>
    <table class="text-center">

      <thead>
        <tr>
          <th>ID</th>
          <th>Czas pomiaru</th>
          <th>Moc[W]</th>
        </tr>
      </thead>

      <tbody>
        {% for m in meas if m.date.date() == date %}
          <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.date.strftime('%H:%M:%S') }}</td>
            <td>{{ m.data }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </center>
    <hr />
  {% endfor %}
{% endblock %}
